# LLM API Keys
OPENAI_API_KEY=AQ.Ab8RN6Ku3m8E_sfgPQdEQMhhTRmNXpYtvpCKJyFFYbXKtOdhIw
ORCHESTRATOR_MODEL=gemini-2.0-flash
SPECIALIST_MODEL=gemini-2.0-flash
# Runtime
ENVIRONMENT=development
DEBUG=true

